<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<head>
   <%- partial('common/head') %>
   <link rel="stylesheet" href="/css/fonts.css"  />
   <link rel="stylesheet" href="/css/highlight.css"  />
   <link rel="stylesheet" href="/css/style.css"  />
   <%- partial('plugin/styles') %>
   <%- partial('comment/styles') %>
</head>
<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <% if (theme.customize.profile.enabled) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <section id="main"><%- body %></section>
            <% if (theme.customize.sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>

      <!-- not a script, not a style -->
      <%- partial('search/insight') %>
      <%- partial('common/footer') %>
    </div>
   <%- partial('common/scripts') %>
</body>
</html>
