<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<head>
   <%- partial('common/head') %>
   <%- css('css/style') %>
   <%- js('https://code.jquery.com/jquery-2.2.4.min.js') %>

</head>
<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <% if (theme.customize.profile.enabled) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <section id="main"><%- body %></section>
            <% if (theme.customize.sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>
      
      <!-- not a script, not a style -->
      <%- partial('search/insight') %>

      <!-- scripts -->
      <%- partial('plugin/loader') %>
      <%- partial('share/default') %>
      <%- partial('search/config') %>
      <%- partial('plugin/scripts') %>
      <%- partial('comment/scripts') %>
      <%- js('js/insight') %>
      <%- js('js/main') %>
      <!-- /scripts -->

      <%- partial('common/footer') %>
    </div>
</body>
</html>
